Drawing/.vs/
Drawing/DrawingApp/bin/
Drawing/DrawingApp/obj/
Drawing/DrawingModel/obj/
Drawing/DrawingModel/bin/
Drawing/DrawingForm/obj/
Drawing/DrawingForm/bin/
/.vs
*.Cache
Drawing/DrawingModel/project.lock.json
